<div class="container">
  <h1>Chatrooms</h1>

  <ul>
    <% @chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.slug, chatroom_path(slug: chatroom.slug) %></li>
    <% end %>
  </ul>
</div>
